<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org">

    <!--headerFragment 선언-->
    <th:block th:fragment="headerFragment">
        <div id="header-wrap">
            <div>
                <img th:src="@{/img/logo_04.png}" style="width: 100px; padding: 5px;"/>
            </div>
            <div >
                <i class="large home icon"></i>
                <i class="large search icon"></i>
                <i class="large user icon"></i>
            </div>
        </div>
    </th:block>

</html>