:root {
    --header-height : 50px;
}

html, body{
    width: 100%;
    height: 100%;
    margin : 0;
}
a { color: black !important; }
#container {
    width: 100%;
    height: 100%;
    padding-top: var(--header-height);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--header-height) auto-fill;
}

#header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    background-color: white; 
    border-bottom: #eeeeee solid 1px;
}


#header-wrap{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-logo-wrap {
    width: 80%;
}
#header-logo-wrap img{
    width: 150px; 
    /*height: 100%;*/
}
#header-btn-wrap {
    width: 20%;
    display: flex; 
    justify-content: space-around;

}

#content {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;

    display: flex;
    justify-content: center;
}
#content-wrap{
    width: 70%;
    height: 100%;
}
/* width가 769px 이상 일때 작동  */
@media screen and (min-width: 769px) {
    #user-info-wrap {
        height: 250px; 
        width: 100%;
        display: flex; 
        flex-wrap :wrap;
        border-bottom: lightgray solid 1px; 
        align-items: center;
    }
}

/* width가 768px 이하 일때 작동  */
@media screen and (max-width: 768px) {
    #user-info-wrap {
        height: 500px; 
        width: 100%;
        display: flex; 
        flex-wrap :wrap;
        border-bottom: lightgray solid 1px; 
        align-items: center;
    }
}


#user-profileimg-wrap {
    height: 200px; 
    width: 200px;   
    border-radius: 70%; 
    overflow: hidden;
    margin-right: 100px;
}
#user-profileimg {
    height: 100%; 
    width: 100%; 
    object-fit: cover;
}

#user-intro-wrap {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /*    align-items: center;*/
}

#user-name {
    font-size: 28px;
}